lambda expression

In [4]:
def equation_1(x):
    return x+10-x*3
equation_1(3)

4

In [3]:
f=lambda x: x+10-x*3
f(3)

4

In [6]:
g=lambda x,y: x+y*x-y
g(3,4)

11

In [7]:
x= list(range(1,101))
#add 10 to each element in x
list(map(lambda i:i+10,x))

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110]

In [9]:
x= list(range(1,11))
#add 10 to each element in x
list(map(lambda i:i*i*i,x))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
#multiple inputs in a single line
list(map(int,input().split()))

[1, 2, 22, 3, 2, 3]

In [13]:
#coutn the number of characters in each using lambda exp and map
names =['aice','boby','cat','dav']
list(map(len,names))

[4, 4, 3, 3]

In [17]:
def check_year(year):
    if year%4==0 & year%100!=0:
    return check_year

IndentationError: expected an indented block (Temp/ipykernel_18056/4242620114.py, line 3)

In [18]:
list(filter(lambda i:i%3==0,x))

[3, 6, 9]